* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}
.wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.wrapper button {
  border-radius: 25px;
  height: 40px;
  width: 120px;
  background-color: rgba(69, 76, 73, 0.4);
  border: none;
  cursor: pointer;
}
